.container {
  position: relative;
  width: 100%;
  height: auto;
}

/* .header {
  display: flex;
  flex-direction: column;
  align-items: center;

} */

.name {
  position: absolute;
  width: 306px;
  height: 48px;
  left: 18px;
  top: 12px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.02em;

  color: #000000;
}

.tabs {
  position: absolute;
  height: 48px;
  top: 16px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
}

.work {
  width: 51px;
  left: 1158px;
  color: #000000;
}

.work:hover, .resume:hover{
  color: #FC3F42;
}

.about {
  width: 54px;
  left: 1254px;
  color: #2191FB;
}

.resume {
  width: 68px;
  left: 1353px;
  color: #000000;
}

.link{
  text-decoration: none;
}

.titles{
  position: absolute;
  width: 549px;
  height: 94px;
  left: 61px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: bold;

  letter-spacing: 0.02em;
  color: #000000;
}

.aboutme {
  top: 128px;
  font-size: 55px;
  line-height: 69px;
}

.favorites{
  top: 777px;
  font-size: 45px;
  line-height: 57px;
}

.profile {
  position: absolute;
  width: 545px;
  height: 359px;
  left: 847px;
  top: 241px;
}

.aboutsection{
  position: absolute;
  width: 698px;
  height: 482px;
  left: 61px;
  top: 225px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 37px;
  /* or 168% */

  letter-spacing: 0.02em;

  color: #000000;
}

.circle{
  position: absolute;
  width: 80px;
  height: 80px;
  left: 61px;
  border-radius: 50%;
}

.bluecircle{
  top: 871px;
  background: #2191FB;
}

.redcircle{
  top: 963px;
  background: #FC3F42;
}

.lightbluecircle{
  top: 1055px;
  background: #33D3FF;
}

.smlightbluecircle{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 962px;
  top: 1103px;

  background: #33D3FF;
  border-radius: 50%;
}

.aboutCaption{
  position: absolute;
  width: 545px;
  height: 43px;
  left: 847px;
  top: 615px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #000000;
}

.locationCaption{
  position: absolute;
  width: 261px;
  height: 30px;
  left: 1017px;
  top: 1112px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;

  color: #000000;
}


.fav{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 0.02em;

  color: #000000;
}

.music{
  position: absolute;
  width: 700px;
  height: 40px;
  left: 175px;
  top: 896px;
}

.food{
  position: absolute;
  width: 789px;
  height: 40px;
  left: 175px;
  top: 982px;
}

.book{
  position: absolute;
  width: 700px;
  height: 40px;
  left: 175px;
  top: 1074px;
}

.icon{
  position: relative;
  width: 50px;
  height: 50px;
  left: 15px;
  top: 15px;
}

.locationicon{
  position: relative;
  width: 30px;
  height: 30px;
  left: 5px;
  top: 5px;
}

.locationpic{
  position: absolute;
  width: 316.01px;
  height: 300px;
  left: 962px;
  top: 791px;
}

.banner{
  position: absolute;
  width: 944px;
  height: 154px;
  left: 248px;
  top: 1235px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #000000;
}

.socials{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 1312px;
}


.backToHome {
  margin: 3rem 0 0;
}
