.topPanel{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 78px;
  margin-bottom: 120px;
}

.about {
  width: 100%;
  margin-left: auto;
  max-width: 700px;
  padding-bottom: 20px;
  margin-right: 50px;

}

.titleAbout{
  font-weight: bold;
  font-size: 55px;
  line-height: 69px;
  letter-spacing: 0.02em;

  margin-bottom: 40px;
}

.blurb {
  font-weight: normal;
  font-size: 22px;
  line-height: 37px;
  letter-spacing: 0.02em;

}

.me{
  width: 100%;
  margin-left: 50px;
  margin-right: auto;
  max-width: 500px;
}

.captions{
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;

  margin-top: 15px;
  margin-bottom: 15px;
  color: #000000;
}


@media screen and (max-width:767px){
  .topPanel{
    flex-direction: column-reverse;
    margin-bottom: 40px;
    margin-top: 70px;
  }

  .titleAbout{
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 30px;
    margin-top: 40px;
  }

  .about{
    margin-left: inherit;
    margin-right: inherit;
    max-width: 340px;
    padding-bottom: 40px;
  }

  .blurb{
    font-size: 17px;
    line-height: 30px;
  }

  .me{
    width: 100%;
    margin-left: 0px;
    margin-right: inherit;
    max-width: 340px;
  }

  .captions{
    font-size: 16px;
    line-height: 23px;
  }

}

@media screen and (min-width:400px) and (max-width:767px) {
  .titleAbout{
    font-size: 40px;
    line-height: 54px;
  }

  .about{
    max-width: 350px;
  }

  .me{
    max-width: 350px;
  }

  .blurb{
    font-size: 19px;
    line-height: 32px;
  }

  .captions{
    font-size: 18px;
    line-height: 25px;
  }
}

@media screen and (min-width:450px) and (max-width:767px) {
  .titleAbout{
    font-size: 45px;
    line-height: 59px;
  }

  .about{
    max-width: 400px;
  }

  .me{
    max-width: 400px;
  }

  .blurb{
    font-size: 20px;
    line-height: 35px;
  }

  .captions{
    font-size: 19px;
    line-height: 27px;
  }
}


.favs{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 130px;
}

.titleFavorites{
  font-weight: bold;
  font-size: 45px;
  line-height: 57px;
  letter-spacing: 0.02em;

  margin-bottom: 40px;
}

.writtenFavs{
  width: 100%;
  margin-left: auto;
  max-width: 800px;
  margin-right: 50px;

}

.favorite{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.favText{
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 0.02em;
  margin-left: 30px;
}

.location{
  width: 100%;
  margin-left: 50px;
  margin-right: auto;
  max-width: 400px;
}

.location > img{
  width: 80%;
}

.locationText{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.smCaption{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
  margin-left: 8px;
}

.icon{
  font-size: 40px;
}

.locationIcon{
  font-size: 20px;
}


@media screen and (max-width:767px) {
  .favs{
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 325px;
    margin-bottom: 100px;
  }

  .titleFavorites{
    font-size: 35px;
    line-height: 43px;
  }

  .writtenFavs{
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .favText{
    font-size: 18px;
    line-height: 23px;
    margin-left: 15px;
  }

  .smCaption{
    font-size: 18px;
    line-height: 23px;
  }

  .icon{
    font-size: 25px;
  }

  .location{
    margin-left: 0px;
    margin-right: 0px;
  }

  .locationText{
    margin-left: 15px;
  }

  .location > img{
    width: 100%;
  }

}

@media screen and (min-width:400px) and (max-width:767px) {
  .favs{
    max-width: 350px;
  }

  .titleFavorites{
    font-size: 38px;
    line-height: 46px;
  }

  .favText{
    font-size: 20px;
    line-height: 26px;
    margin-left: 15px;
  }

  .smCaption{
    font-size: 20px;
    line-height: 25px;
  }

}

@media screen and (min-width:450px) and (max-width:767px) {
  .favs{
    max-width: 400px;
  }

  .titleFavorites{
    font-size: 40px;
    line-height: 48px;
  }

  .favText{
    font-size: 23px;
    line-height: 31px;
    margin-left: 15px;
  }

  .smCaption{
    font-size: 23px;
    line-height: 27px;
  }

  .locationText{
    margin-left: 20px;
  }
}
