.topPanel{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 78px;
  margin-bottom: 120px;
}

.about {
  width: 100%;
  margin-left: auto;
  max-width: 700px;
  padding-bottom: 20px;
  margin-right: 50px;

}

.titleAbout{
  font-weight: bold;
  font-size: 55px;
  line-height: 69px;
  letter-spacing: 0.02em;

  margin-bottom: 40px;
}

.blurb {
  font-weight: normal;
  font-size: 22px;
  line-height: 37px;
  letter-spacing: 0.02em;

}

.me{
  width: 100%;
  margin-left: 50px;
  margin-right: auto;
  max-width: 500px;
}

.captions{
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;

  margin-top: 15px;
  margin-bottom: 15px;
  color: #000000;
}


@media screen and (max-width:767px){
  .topPanel{
    flex-direction: column-reverse;
    margin-top: 0px;
  }

  .titleAbout{
    font-size: 10vw;
    line-height: 10.2vw;
    margin-top: 8vw;
  }

  .about{
    margin-left: inherit;
    margin-right: inherit;
    max-width: 83%;
    padding-right: 0vw;
    padding-bottom: 40px;
  }

  .blurb{
    font-size: 4.4vw;
    line-height: 8vw;
  }

  .me{
    width: 100%;
    margin-left: 0px;
    margin-right: inherit;
    max-width: 340px;
  }

  .captions{
    font-size: 4vw;
    line-height: 6vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

}

@media screen and (min-width:635px) and (max-width:767px){
  .captions{
    font-size: 3vw;
    line-height: 4vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

}




.favs{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 130px;
}

.writtenFavs{
  width: 100%;
  margin-left: auto;
  max-width: 850px;
  margin-right: 50px;
}

.titleFavorites{
  font-weight: bold;
  font-size: 45px;
  line-height: 57px;
  letter-spacing: 0.02em;

  margin-bottom: 40px;
}

.favorite{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.icon{
  font-size: 40px;
}

.favText{
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 0.02em;
  margin-left: 30px;
}

.location{
  width: 100%;
  margin-right: auto;
  max-width: 400px;
}

.location > img{
  width: 80%;
}

.locationText{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.locationIcon{
  font-size: 20px;
}

.smCaption{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
  margin-left: 8px;
}


@media screen and (max-width:767px) {
  .favs{
    flex-direction: column;
    margin-bottom: 20vw;
  }

  .writtenFavs{
    margin-bottom: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 83%;
  }

  .titleFavorites{
    font-size: 8vw;
    line-height: 9vw;
    margin-bottom: 9vw;
  }

  .favorite{
    margin-bottom: 4vw;
  }

  .icon{
    font-size: 6vw;
  }

  .favText{
    font-size: 4.3vw;
    line-height: 5.5vw;
    margin-left: 2.5vw;
  }

  .location{
    max-width: 83%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0vw;
  }

  .locationText{
    margin-top: 3vw;
    margin-left: 4vw;
  }

  .location > img{
    width: 100%;
  }

  .locationIcon{
    font-size: 4.6vw;
  }

  .smCaption{
    font-size: 4.3vw;
    line-height: 5.5vw;
    margin-left: 4vw;
  }


}
