.topPanel{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 78px;
  margin-bottom: 80px;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1290px;
  border-left: 20px solid #60E1FD;
  padding-left: 70px;
}

.title{
  font-weight: bold;
  font-size: 55px;
  line-height: 69px;
  letter-spacing: 0.02em;
  margin-bottom: 25px;
}

.subtitle{
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.02em;
  margin-bottom: 35px;
}

.quickNotes{
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.note{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 40px;
}

.noteText{
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  letter-spacing: 0.02em;
  margin-left: 10px;
}

.icon{
  font-size: 20px;
}

.description{
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 160%;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  max-width: 95%;
}

.parameters{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 65px;
}

.circle{
  font-size: 80px;
  width: 25vw;
  height: 25vw;
  max-width: 200px;
  max-height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  border-radius: 50%;
}

.parameterText{
  font-weight: 600;
  font-size: 25px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.featuresFirstRow{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.featuresSecondRow{
  margin-bottom: 65px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.featureCircle{
  font-size: 90px;
  width: 25vw;
  height: 25vw;
  max-width: 275px;
  max-height: 275px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
  border-radius: 50%;
}

.sectionText{
  max-width: 215px;
  margin-top: 15px;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.photo{
  width: 100%;
  max-width: 80%;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 60px;
}

.featureTitle{
  font-weight: bold;
  font-size: 45px;
  line-height: 160%;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}

.featureText{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 95px;
}

.blurbMargins{
  margin-right: 35px;
}

.featureSubtitle{
  font-weight: bold;
  font-size: 38px;
  line-height: 160%;
  letter-spacing: 0.02em;
}

.recSubtitle{
  margin-top: 57px;
  font-weight: bold;
  font-size: 38px;
  line-height: 160%;
  letter-spacing: 0.02em;
}


.featureDescription{
  font-style: normal;
  font-weight: normal;
  max-width: 795px;
  font-size: 26px;
  line-height: 160%;
  letter-spacing: 0.02em;
}


.featureDemo{
  margin-left: 50px;
  max-width: 350px;
}

.button{
  margin-top: 100px;
  width: 15vw;
  height: 4vw;
  max-width: 220px;
  max-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background: #60E1FD;
  border-radius: 30px;
  cursor: pointer;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover{
  transform: scale(1.03);
  position: relative;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.backToWork{
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-left: 15px;
}

@media screen and (max-width:575.98px){
  .topPanel{
    margin-top: 0px;
    margin-bottom: 40px;
  }

  .summary{
    margin-left: 15px;
    margin-right: inherit;
    max-width: 90%;
    padding-left: 20px;
    border-left-width: 12px;
  }

  .title{
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 20px;
  }

  .subtitle{
    font-size: 21px;
    line-height: 29px;
    margin-bottom: 30px;
  }

  .quickNotes{
    flex-direction: column;
    margin-bottom: 30px;
  }

  .note{
    align-items: flex-start;
    margin-right: 30px;
    margin-bottom: 12px;
  }

  .noteText{
    font-size: 18px;
    letter-spacing: 0.02em;
    margin-left: 10px;
  }

  .icon{
    font-size: 16px;
  }

  .description{
    font-size: 17px;
    margin-bottom: 12px;
  }

  .parameters{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

  }

  .circle{
    font-size: 80px;
    width: 50vw;
    height: 50vw;
    margin-right: 0px;

    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .parameterText{
    font-size: 23px;
    line-height: 31px;
  }

  .featureCircle{
    font-size: 80px;
    width: 58vw;
    height: 58vw;
    margin-right: 0px;

    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .featuresFirstRow{
    flex-direction: column;
  }

  .featuresSecondRow{
    margin-bottom: 35px;
    flex-direction: column;
  }

  .sectionText{
    max-width: 180px;
    margin-top: 15px;
    font-size: 19px;
    line-height: 26px;
  }

  .photo{
    margin-top: 25px;
    margin-bottom: 35px;
  }

  .featureTitle{
    font-size: 36px;
    margin-bottom: 15px;
  }

  .featureText{
    flex-direction: column;
    margin-bottom: 0px;
  }

  .blurbMargins{
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .featureSubtitle{
    font-size: 29px;
  }

  .recSubtitle{
    margin-top: 30px;
    font-size: 29px;
  }

  .featureDescription{
    font-size: 17px;
  }

  .featureDemo{
    margin-left: 40px;
    margin-bottom: 50px;
    width: 100%;
  }

  .mobile{
    margin-bottom: 0px;
  }

  .button{
    margin-top: 70px;
    width: 48vw;
    height: 13vw;
    max-width: 190px;
    max-height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }

  .backToWork{
    font-size: 17px;
    margin-left: 10px;
  }
}

@media screen and (min-width:576px) and (max-width:767.98px) {
  .topPanel{
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .summary{
    margin-left: 30px;
    margin-right: inherit;
    max-width: 90%;
    padding-left: 25px;
    border-left-width: 15px;
  }

  .title{
    font-size: 45px;
    line-height: 54px;
    margin-bottom: 20px;
  }

  .subtitle{
    font-size: 25px;
    line-height: 33px;
    margin-bottom: 35px;
  }

  .quickNotes{
    flex-direction: column;
    margin-bottom: 30px;
  }

  .note{
    align-items: flex-start;
    margin-right: 30px;
    margin-bottom: 12px;
  }

  .noteText{
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    letter-spacing: 0.02em;
    margin-left: 10px;
  }

  .icon{
    font-size: 18px;
  }

  .description{
    font-size: 20px;
    margin-bottom: 12px;
  }

  .parameters{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .circle{
    font-size: 100px;
    width: 50vw;
    height: 50vw;

    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .parameterText{
    font-size: 23px;
    line-height: 31px;
  }

  .featureCircle{
    font-size: 90px;
    width: 58vw;
    height: 58vw;
    margin-right: 0px;

    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .featuresFirstRow{
    flex-direction: column;
  }

  .featuresSecondRow{
    margin-bottom: 30px;
    flex-direction: column;
  }

  .sectionText{
    max-width: 210px;
    margin-top: 15px;
    font-size: 24px;
    line-height: 31px;
  }

  .photo{
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .featureTitle{
    font-size: 41px;
    margin-bottom: 20px;
  }

  .featureText{
    flex-direction: column;
    margin-bottom: 0px;
  }

  .blurbMargins{
    margin-right: 0px;
    margin-bottom: 45px;
  }

  .featureSubtitle{
    font-size: 34px;
  }

  .recSubtitle{
    margin-top: 35px;
    font-size: 34px;
  }

  .featureDescription{
    font-size: 20px;
  }

  .featureDemo{
    margin-left: 60px;
    margin-bottom: 50px;
    width: 100%;
  }

  .mobile{
    margin-bottom: 0px;
  }

  .button{
    width: 48vw;
    height: 13vw;
    max-width: 190px;
    max-height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
  }

  .backToWork{
    font-size: 17px;
    margin-left: 10px;
  }
}

@media screen and (min-width:768px) and (max-width:991.98px) {
  .topPanel{
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .summary{
    margin-left: 35px;
    margin-right: inherit;
    max-width: 90%;
    padding-left: 40px;
    border-left-width: 16px;
  }

  .title{
    font-size: 50px;
    line-height: 59px;
    margin-bottom: 30px;
  }

  .subtitle{
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 35px;
  }

  .quickNotes{
    flex-direction: row;
    margin-bottom: 30px;
  }

  .note{
    align-items: flex-start;
    margin-bottom: 12px;
    margin-right: 20px;
  }

  .noteText{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 0.02em;
    margin-left: 10px;
  }

  .icon{
    font-size: 18px;
  }

  .description{
    font-size: 23px;
    margin-bottom: 12px;
  }

  .features{
    margin-top: 30px;
    margin-bottom: 70px;
  }

  .circle{
    font-size: 50px;
    width: 18vw;
    height: 18vw;

    margin-right: 20px;
  }

  .sectionText{
    margin-top: 12px;
    font-size: 17px;
    line-height: 26px;
  }

  .photo{
    margin-top: 50px;
    margin-bottom: 55px;
  }

  .featureTitle{
    font-size: 43px;
    margin-bottom: 20px;
  }

  .featureText{
    flex-direction: column;
    margin-bottom: 0px;
  }

  .blurbMargins{
    margin-right: 0px;
    margin-bottom: 55px;
  }

  .featureSubtitle{
    font-size: 36px;
  }

  .featureDescription{
    font-size: 23px;
  }

  .featureImg{
    margin-left: 0px;
    margin-bottom: 60px;
    width: 85%;
  }

  .weather{
    margin-left: 0px;
    width: 85%;
    margin-bottom: 40px;
  }

  .subway{
    margin-left: 0px;
    width: 85%;
  }

  .logos{
    margin-top: 10px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
  }

  .captions{
    font-size: 21px;
    line-height: 29px;

    text-align: center;
    letter-spacing: 0.02em;

    margin-top: 15px;
    margin-bottom: 15px;
  }

  .button{
    margin-top: 120px;
    width: 48vw;
    height: 13vw;
    max-width: 190px;
    max-height: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .backToWork{
    font-size: 17px;
    margin-left: 10px;
  }
}

@media screen and (min-width:992px) and (max-width:1350px) {
  .topPanel{
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .summary{
    margin-left: 45px;
    margin-right: inherit;
    max-width: 90%;
    padding-left: 45px;
    border-left-width: 16px;
  }

  .title{
    font-size: 50px;
    line-height: 59px;
    margin-bottom: 30px;
  }

  .subtitle{
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 35px;
  }

  .quickNotes{
    flex-direction: row;
    margin-bottom: 30px;
  }

  .note{
    align-items: flex-start;
    margin-bottom: 12px;
  }

  .noteText{
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    letter-spacing: 0.02em;
    margin-left: 10px;
  }

  .icon{
    font-size: 19px;
  }

  .description{
    font-size: 23px;
    margin-bottom: 12px;
  }

  .features{
    margin-top: 30px;
    margin-bottom: 70px;
  }

  .circle{
    font-size: 70px;
    width: 18vw;
    height: 18vw;

    margin-right: 20px;
  }

  .sectionText{
    margin-top: 12px;
    font-size: 20px;
    line-height: 26px;
  }

  .photo{
    margin-top: 60px;
    margin-bottom: 65px;
  }

  .featureTitle{
    margin-bottom: 30px;
  }

  .blurbMargins{
    margin-right: 0px;
  }

  .featureText{
    margin-bottom: 70px;
  }

  .featureDescription{
    font-size: 23px;
  }

  .logos{
    margin-top: 10px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
  }

  .captions{
    font-size: 23px;
    line-height: 31px;

    text-align: center;
    letter-spacing: 0.02em;

    margin-top: 18px;
    margin-bottom: 18px;
  }

  .button{
    width: 40vw;
    height: 11vw;
    max-width: 210px;
    max-height: 55px;
    margin-left: auto;
    margin-right: auto;
  }

  .backToWork{
    font-size: 17px;
    margin-left: 10px;
  }

}
