.topPanel{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 150px;
}

.intro {
  flex-grow: 50;
  flex-basis: 400px;
  width: 100%;
  margin-left: auto;
  padding-left: 30px;
  max-width: 650px;
  padding-bottom: 20px;

}

.hi{
  font-weight: bold;
  font-size: 80px;
  line-height: 101px;
  letter-spacing: 0.02em;

  margin-bottom: 40px;
  color: #000000;
}

.blurb {
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 0.02em;
  color: #000000;

}

.circleContainer{
  flex-grow: 50;
  flex-basis: 400px;
  width: 100%;
  margin-right: auto;
  max-width: 650px;
  padding-left: 120px;
}

@media screen and (max-width:767px) {
  .topPanel{
    flex-direction: column;
    margin-bottom: 40px;
  }

  .intro {
    flex-grow: 50;
    flex-basis: 300px;
    width: 100%;
    padding-left: 40px;
    margin-left: inherit;
    margin-top: 5px;
    max-width: 380px;
    max-height: 200px;
    padding-bottom: 0px;
  }

  .hi{
    font-size: 45px;
    line-height: 57px;
    margin-bottom: 20px;
  }

  .blurb{
    font-size: 20px;
    line-height: 27px;
  }

  .circleContainer{
    margin-right: inherit;
    flex-grow: 50;
    flex-basis: 300px;
    width: 100%;
    max-width: 250px;
    padding-left: 0px;
  }

}



.work{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.titles{
  font-weight: bold;
  font-size: 55px;
  line-height: 69px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  padding-left: 30px;
  letter-spacing: 0.02em;
  margin-bottom: 60px;
}

.threeitemrow{
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.item{
  width: 30vw;
  padding-right: 30px;
}

.rectangle{
  height: 17vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.cappedSize > img {
  max-height: 75%;
  max-width: 75%;
}

.dashRect > img {
  max-height: 100%;
}

.hackRect > img{
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

.heartRect > img {
  max-height: 100%;
  max-height: 93%;
  margin-top: auto;
}

.alarmRect > img {
  max-height: 90%;
  max-width: 90%;
}


.barclaysRect{
  background: #00AFE9;
}

.modernaRect{
  background: #F5F5F5;
}

.mastercardRect{
  background: #000000;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover{
  transform: scale(1.05);
  position: relative;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}


.captions{
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  /* or 140% */

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;

  margin-top: 25px;
  margin-bottom: 25px;
  color: #000000;
}


@media screen and (max-width:767px) {
  .work{
    margin-bottom: 40px;
  }

  .captions{
    line-height: 25px;
  }

  .titles{
    margin-left: inherit;
    margin-right: inherit;
    padding-left: 40px;
    font-size: 30px;
    max-width: 650px;
    margin-bottom: 25px;
  }

  .threeitemrow{
    flex-direction: column;
    margin-left: inherit;
    margin-right: inherit;
    padding-left: 25px;
    max-width: 650px;
  }

  .item{
    width: 70vw;
  }

  .rectangle{
    height: 35vw;
  }

  .captions{
    font-size: 20px;
  }
}


.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.hackRect{
  overflow: hidden;
}

.kelpRect{
  background: #FC3F42;
}

.dashRect{
  background: #040E51;
}

.heartRect{
  background: #60E1FD;
}

.heartIcon{
  border-radius: 15px 15px 0px 0px;
}

.alarmRect{
  background: #43DFC3;
}

.alarmIcon{
  border-radius: 30px;
}

@media screen and (max-width:767px) {
  .projects{
    margin-bottom: 40px;
  }
}
