.centerScreen{
  display: flex;
  height: 70vh;
  justify-content: center;
}

.topPanel{
  display: flex;
  align-items: center;
}

.intro {
  width: 100%;
  margin-left: 45px;
  max-width: 670px;
}

.blurb {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.00em;
  margin-bottom: 16px;
  color: #000000;
}

.socials{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 115px;
  font-size: 9px;
}

.socialIcon > a > i {
  color: #7D7D7D;
}


.socialIcon:hover > a > i {
  color: #43B190;
}

.circleContainer{
  width: 100%;
  margin-right: auto;
  max-width: 420px;
  padding-left: 110px;
  margin-left: 75px;
}

@media screen and (max-width:575.98px) {
  .topPanel{
    flex-direction: column;
    margin-bottom: 50px;
  }

  .intro {
    max-width: 90%;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .blurb{
    margin-bottom: 20px;
  }

  .socials{
    margin-top: 25px;
  }

  .circleContainer{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 14%;
    padding-right: 14%;
    max-width: 100%;
    padding-top: 8.2vh;
    padding-bottom: 8.2vh;
    background-color: #F5F5F5;
  }

}

@media screen and (min-width:576px) and (max-width:767.98px) {
  .topPanel{
    flex-direction: column;
    margin-bottom: 55px;
  }

  .intro {
    max-width: 90%;
    padding-right: 20px;
    margin-left: auto;
    padding-left: 40px;
    margin-right: auto;
    margin-bottom: 38px;
    padding-bottom: 0px;
  }

  .blurb{
    margin-bottom: 30px;
  }

  .socials{
    margin-top: 25px;
  }

  .circleContainer{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 28%;
    padding-right: 28%;
    max-width: 100%;
    padding-top: 12vh;
    padding-bottom: 12vh;
    background-color: #F5F5F5;
  }

}

@media screen and (min-width:768px) and (max-width:991.98px) {
  .topPanel{
    flex-direction: column;
    margin-top: 10px;
  }

  .intro {
    max-width: 90%;
    padding-right: 10px;
    margin-left: auto;
    padding-left: 13px;
    margin-right: auto;
    margin-bottom: 38px;
    padding-bottom: 0px;
  }

  .blurb{
    margin-bottom: 30px;
  }

  .circleContainer{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 32%;
    padding-right: 32%;
    max-width: 100%;
    padding-top: 12vh;
    padding-bottom: 12vh;
    background-color: #F5F5F5;
  }
}

@media screen and (min-width:992px) and (max-width:1199.98px) {
  .intro {
    padding-right: 7%;
    margin-left: 0.9%;
    padding-left: 4%;
  }

  .circleContainer{
    padding-left: 5vw;
    padding-right: 5vw;
    max-width: 380px;
    margin-left: 0px;
  }
}

@media screen and (min-width:1200px) and (max-width:1350px){
  .intro {
    padding-right: 20px;
    margin-left: 15px;
    padding-left: 40px;
  }

  .circleContainer{
    padding-left: 7vw;
    padding-right: 40px;
    margin-left: 60px;
  }
}
