.container {
  position: relative;
  width: 100%;
  height: auto;
}

.menu{
  display: none;
}

.navBar{
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 1vw;
  margin-bottom: 50px;
  padding-left: 2vw;
  padding-right: 5px;
}

.name {
  order: 0;
  flex-grow: 10;
  flex-basis: 1300px;
  margin-left: auto;
  font-weight: bold;
  font-size: 2.2vw;
  line-height: 3vw;
  letter-spacing: 0.02em;
}

.navItems{
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 40px;
  flex-basis: 400px;
  margin-right: auto;
  flex-grow: 2;
}

.tab {
  order: 1;
  flex-grow: 1;
  flex-basis: 150px;
  font-weight: 600;
  font-size: 1.5vw;
  line-height: 3vw;
  letter-spacing: 0.02em;
}

.menuActive {
  color: #2191FB;
}

.menuInactive:hover{
  color: #FC3F42;
}

@media screen and (max-width:767px) {
  .navBar{
    padding-left: 25px;
    margin-bottom: 60px;
    margin-top: 0px;

  }

  .navItems{
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    left: 0px;
    right: 0px;
    padding-left: 0px;
    padding-top: 26vw;
    background-color: #ffffff;
  }
  .name{
    margin-top: 15px;
    z-index: 3;
    font-size: 5vw;
    line-height: 6vw;
  }
  .tab{
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 10vw;
    background-color: #ffffff;
    font-size: 5vw;
    line-height: 5vw;
  }

  .menu{
    margin-top: 11px;
    z-index: 3;
    display: flex;
    align-items: flex-end;
    width: 100%;
    font-size: 4vw;
    line-height: 5vw;
    float: right;
    margin-right: 5px;
    position: relative;
  }

  .navClosed{
    display: none;
  }

  .fadeIn {
  	opacity: 1;
  	animation-name: fadeInOpacity;
  	animation-iteration-count: 1;
  	animation-timing-function: ease-in;
  	animation-duration: 0.1s;
  }

  @keyframes fadeInOpacity {
  	0% {
  		opacity: 0;
  	}
  	100% {
  		opacity: 1;
  	}
  }

  .shadow{
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.25);
  }

}

@media screen and (min-width:550px) and (max-width:767px) {
  .navItems{
    padding-top: 20vw;
  }
}

.banner{
  margin-top: 5vw;
}

.bottomBlurb{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 3vw;
}

.connect{
  margin-left: auto;
  text-align: right;
  font-weight: bold;
  font-size: 2vw;
  line-height: 3vw;
  letter-spacing: 0.02em;
  padding-right: 1.2vw;
}

.chat{
  margin-right: auto;
  text-align: left;
  font-weight: normal;
  font-size: 1.5vw;
  line-height: 2.7vw;
  letter-spacing: 0.02em;
}

.socials{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 47%;
  font-size: 1.3vw;
  margin-bottom: 5vw;
}

.socialIcon:hover > a > i {
  color: #FC3F42;
}

@media screen and (max-width:767px) {
  .banner{
    margin-top: 15vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .bottomBlurb{
    flex-direction: column;
    margin-bottom: 8vw;
  }

  .connect{
    text-align: left;
    margin-left: inherit;
    margin-right: auto;
    font-size: 7vw;
    line-height: 8vw;
    padding-right: 0px;
    margin-bottom: 3.5vw;

  }

  .chat{
    width: 100%;
    margin-right: auto;
    padding-right: 10vw;
    font-size: 5vw;
    line-height: 5.7vw;
  }

  .socials{
    margin-left: inherit;
    margin-right: inherit;
    max-width: 100%;
    font-size: 4.8vw;
    margin-bottom: 20vw;
  }

}
