.container {
  position: relative;
  width: 100%;
  height: auto;
}

/* .header {
  display: flex;
  flex-direction: column;
  align-items: center;

} */

.menu{
  display: none;
}

.navBar{
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 12px;
  margin-bottom: 50px;
  padding-left: 30px;
  padding-right: 5px;
}

.name {
  order: 0;
  flex-grow: 10;
  flex-basis: 1400px;
  margin-left: auto;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.02em;

  color: #000000;
}

.navItems{
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding-left: 40px;
  flex-basis: 400px;
}

.tab {
  order: 1;
  flex-grow: 1;
  flex-basis: 150px;
  font-weight: 600;
  font-size: 21px;
  line-height: 38px;
  letter-spacing: 0.02em;
}

.home {
  color: #2191FB;
}

.about:hover, .resume:hover{
  color: #FC3F42;
}

.about {
  color: #000000;
}

.resume {
  color: #000000;
}

@media screen and (max-width:767px) {
  .navBar{
    padding-left: 25px;
    margin-top: 0px;
  }

  .navItems{
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    left: 0px;
    right: 0px;
    padding-left: 0px;
    padding-top: 95px;
    background-color: #ffffff;
  }
  .name{
    margin-top: 12px;
    z-index: 3;
    font-size: 22px;
  }
  .tab{
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 25px;
    background-color: #ffffff;
  }

  .menu{
    margin-top: 12px;
    z-index: 3;
    display: flex;
    align-items: flex-end;
    width: 100%;
    max-width: 50px;
    flex-basis: 50px;
    flex-grow: 2;
    float: right;
    margin-right: 5px;
    position: relative;
  }

  .navClosed{
    display: none;
  }

  .fadeIn {
  	opacity: 1;
  	animation-name: fadeInOpacity;
  	animation-iteration-count: 1;
  	animation-timing-function: ease-in;
  	animation-duration: 0.1s;
  }

  @keyframes fadeInOpacity {
  	0% {
  		opacity: 0;
  	}
  	100% {
  		opacity: 1;
  	}
  }

  .shadow{
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.25);
  }

}

@media screen and (min-width:420px) and (max-width:767px) {
  .name{
    font-size: 25px;
  }

  .tab{
    font-size: 25px;
    margin-bottom: 30px;
  }
}


.banner{
  margin-top: 150px;
}

.bottomBlurb{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 50px;
}

.connect{
  max-width: 475px;
  margin-left: auto;
  text-align: right;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.02em;
  padding-right: 15px;
}

.chat{
  max-width: 650px;
  margin-right: auto;
  text-align: left;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.02em;
}

.socials{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  margin-bottom: 65px;
}

.socialIcon:hover > a > i {
  color: #FC3F42;
}

@media screen and (max-width:767px) {
  .banner{
    margin-top: 60px;
  }

  .bottomBlurb{
    flex-direction: column;
  }

  .connect{
    padding-left: 40px;
    text-align: left;
    margin-left: inherit;
    margin-right: auto;
    padding-right: 0px;
    max-width: 650px;
    margin-bottom: 10px;

  }

  .chat{
    width: 100%;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .socials{
    padding-left: 40px;
    margin-left: inherit;
    margin-right: inherit;
    max-width: 300px;
  }

}
